body {
    background: #ecebf1;
    color: #333333;
    margin-top: 5rem;
  }
  
h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-style: italic;
  font-weight: 700;
  color: #444444;
  margin-bottom: 0;
}

.section-divider {
  padding-top: 1.5rem;
  padding-left: 2%;
  margin-bottom: .5em;
}

.sidebar-section .section-divider {
  padding-top: 5rem;
}

ul {
  margin: 0;
}

.bg-black {
  background-color: #000f44;
}

#bandwagon-logo {
  height: 4rem;
}

.site-header .navbar-nav .nav-link {
  font-family: 'Kanit', sans-serif;
  font-weight: 700;
  font-style: italic;
  color: #cccccc;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ff6e7c;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  font-family: 'Roboto', sans-serif;
  background: #ffffff;
  padding: 3%;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-detail {
  width: 100%;
  height: auto;
  
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.post-list-item .article-metadata {
  padding-top: 0.5rem;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.article-title-main {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-style: italic;
  font-size: 2rem;
  color: #444444;
}

a.article-title-main:hover {
  color: #428bca;
  text-decoration: none;
}

.article-title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-style: italic;
  color: #444444;
  display: inline-block;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.title {
  font-family: 'Kanit', sans-serif;
  font-size: 2rem;
  font-weight: 900;
  font-style: normal;
  text-shadow: 2px 2px 2px #21252982, 3px 3px 0 #ff2439;
}

.post-img {
  height: auto;
  width: 100%;
  margin-right: 8px;
}

.first-post {
  background-color: white;
  border-radius: 15px;
  box-shadow: 2px 2px 3px gray;
  flex-flow: column;
  overflow: hidden;
  padding: 0;
  margin-bottom: 2%;
}

.first-post .article-title-main {
  padding-left: 2%;
  padding-top: 1%;
}

.first-post .media-body {
  width: 100%;
  display: flex;
  flex-flow: column;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
}

.first-post .article-metadata {
  align-self: flex-start;
  padding-left: 3%;
}

.first-img-container {
  border-radius: 15px;
  width: 100%;
}

.first-img {
  width: 100%;
}


.post-list-img {
  height: auto;
  width: 130%;
  transform: skewX(9deg);
  right: 15%;
  position: relative;
  bottom: 20px;
}

.post-list-img-container{
  position: relative;
  padding: 0;
  margin: 0 10px 0 0;
  width: 45%;
  height: auto;
  background: #ffffff;
  transform: skewX(-9deg);
  right: 30px;
  overflow: hidden;
}

.post-list-img-container::before {
  content: "";
  top: 0;
  bottom: 0;
  right: 15%;
  left: 0;
  background: #ffffff;
  position: absolute;
  transform-origin: right;
}

.post-list-item {
  height: 130px;
  font-family: 'Roboto', sans-serif;
  background: #ffffff;
  padding: 0;
  border-radius: 15px;
  margin-bottom: 2%;
  transition: 0.1s;
  overflow: hidden;
  box-shadow: 1.5px 0.75px 3px darkslategray;
}

.post-list-item:hover {
  height: 150px;
  padding: 0;
  margin-bottom: 3%;
  box-shadow: 2px 1px 3px black;
}

p.name {
  display: inline-block;
  height: 40px;
  line-height: 20px;
  text-align: center;
  vertical-align: top;
}

@media (max-width: 992px) {
  .post-list-item {
    height: 105px;
  }
  
  .post-list-item:hover {
    height: 115px;
  }

  .article-title-main {
    font-size: 1.5rem;
  }
}

@media (max-width: 440px) {
  .post-list-item {
    height: 105px;
  }
  
  .post-list-item:hover {
    height: 115px;
  }

  .article-metadata {
    font-size: 0.6em;
  }

  .article-title-main {
    font-size: 1.2rem;
    line-height: inherit;
  }
}

