body {
    background: #d9d9da;
    color: #333333;
    margin-top: 5rem;
  }

.container {
  max-width: 100%;
}

.section-container {
  background-color: white;
  border-radius: 15px;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  margin-top: 3%;
  padding-top: 3%;
}

@media (max-width:770px) {
  .col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
  }  
}

  
h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-style: italic;
  font-weight: 700;
  color: #444444;
  margin-bottom: 0;
}

ul {
  margin: 0;
}

.bg-black {
  background-color: #000f44;
}

#bandwagon-logo {
  height: 4rem;
}

.navbar {
  padding-bottom: 0;
}

.navbar>.container {
  align-items: flex-end;
}

.navbar-toggler {
  align-self: center;
  border: none;
}

.site-header .navbar-nav .nav-link {
  font-family: 'Kanit', sans-serif;
  font-weight: 700;
  font-style: italic;
  font-size: 1.25rem;
  color: #cccccc;
  padding-bottom: .8rem;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
  border-bottom: 0.25rem solid #e31017;
  padding-bottom: 0.55rem;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.article-detail {
  width: 100%;
  height: auto;
  
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}


.btn-info {
  background-color: #000f44;
  border-color: white;
}

.btn-outline-info {
  border-color: #000f44;
  color: #000f44;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.article-title-main {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-style: italic;
  font-size: 2rem;
  color: #444444;
}

a.article-title-main:hover {
  color: #ff2439;
  text-decoration: none;
}

.article-title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-style: italic;
  color: #444444;
  display: inline-block;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.title {
  border-bottom: 0.25rem solid #ff2439;
}



p.name {
  display: inline-block;
  height: 40px;
  line-height: 20px;
  text-align: center;
  vertical-align: top;
}

@media (max-width: 992px) {
  .post-list-item {
    height: 105px;
  }
  
  .post-list-item:hover {
    height: 115px;
  }

  .article-title-main {
    font-size: 1.5rem;
  }
}

@media (max-width: 765px) {
  .site-header .navbar-nav .nav-link:hover {
    color: #e31017;
    border: none;
    padding-bottom: 0.55rem;
  }
}

@media (max-width: 440px) {
  .post-list-item {
    height: 105px;
  }
  
  .post-list-item:hover {
    height: 115px;
  }

  .article-metadata {
    font-size: 0.6em;
  }

  .article-title-main {
    font-size: 1.2rem;
    line-height: inherit;
  }
}

