.pf-collapsible, .pf-data-header {
    background-color: none;
    border: none;
    color: #ff2439;
  }
  
.pf-data {
    display: none;
    flex-flow: column;
    margin-top: 5%;
    margin-right: auto;
}

.pf-data-text, .pf-data-item-inner {
    display: none;
    padding-left: 10%;
}

.pf-query {
    background-color: #eeeeee;
    border-radius: 15px;
    box-shadow: 0px 3px 7px #777777;
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 3%;
    margin: 3% 0;
    width: 65%;
}

.pf-query > h1, h3 {
    text-align: center;
}

.pf-row {
    width: auto;
}

.pf-specific {
    display: none;
    padding-top: 2%;
}

.pf-submit {
    background-color: #000f44;
    border: none;
    border-radius: 150px;
    color: whitesmoke;
    font-family: 'Roboto', sans-serif;
    margin: 3% 0 2% 0;
    padding: 1.5% 3%;
}

select {
    border-radius: 15px;
    margin-bottom: 2%;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-style: italic;
}

option {
    font-style: normal;
    font-size: 1rem;
}

@media (max-width: 600px) {
    .pf-query {
        width: 96%;
    }
}

@media (max-width: 450px) {
    select {
        font-weight: normal;
        font-size: 1.25rem;
    }
}