.player-img {
    height: auto;
    width: 100%;
    margin-right: 8px;
  }
  
.player-list-img {
    height: 120%;
    width: auto;
    transform: skewX(9deg);
    position: relative;
    left: 20%;
}

.player-list-img-container{
    position: relative;
    padding: 0;
    margin: 0 10px 0 0;
    width: 25%;
    height: 100%;
    background: #ffffff;
    transform: skewX(-9deg);
    right: 15px;
}

.player-list-img-container::before {
    content: "";
    top: 0;
    bottom: 0;
    right: 15%;
    left: 0;
    background: #ffffff;
    position: absolute;
    transform-origin: right;
}