{% extends 'bandwagon/base_no_side.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block extracss %}
    <link rel="stylesheet" href="{% static 'bandwagon/users.css' %}">
{% endblock %}

{% block content %}
    <div class="section-container">
        <div class="content-section mb-4">
            <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class='border-bottom mb-4 article-title-main'>Reset Password</legend>
                    {{ form | crispy }}
                </fieldset>
                <div class="form-group">
                    <button type="submit" class="btn btn-outline-info">Confirm</button>
                </div>
            </form>
        </div>        
    </div>

{% endblock content %}