{% extends 'bandwagon/base.html' %}
{% block content %}
    <h1 class="article-title">About Us</h1>
    <p>
        The Bandwagon is an NBA podcast hosted and produced by Stephen Kernan and Brent Dolan. We love talking about basketball and we wanted to create a 
        community to share that passion. Listen to the show <a href="https://podcasts.apple.com/us/podcast/the-bandwagon-an-nba-podcast/id1434981308">here</a>. Please, if you enjoy the show, make sure to leave a review so that others
        may find the show more easily. 
    </p>
{% endblock content %}
