{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="google-site-verification" content="4GuqZZ5HZ6hnQNm5Z5pxZeX3_FQBteMw4kYgVZ0dkFs" />

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'bandwagon/main.css' %}">
        {% block extracss %} {% endblock %}
        <link href="https://fonts.googleapis.com/css2?family=Creepster&family=Kanit:wght@400;900&family=Montserrat:ital,wght@0,300;0,400;0,700;0,800;1,300;1,700;1,800&family=Roboto&display=swap" rel="stylesheet">
        <title>Bandwagon NBA - {{ title }}</title>
    </head>
    <body>
        <header class="site-header">
            <nav class="navbar navbar-expand-md navbar-dark bg-black fixed-top">
                <div class="container">
                    <a class="navbar-brand mr-4 title" href="{% url 'bandwagon-home' %}">THE BANDWAGON</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarToggle">
                        <div class="navbar-nav mr-auto">
                            <a class="nav-item nav-link" href="{% url 'bandwagon-about' %}">About</a>
                            <a class="nav-item nav-link" href="{% url 'bandwagon-podcast' %}">Podcast</a>
                            <!-- <a class="nav-item nav-link" href="{% url 'bandwagon-scores' %}">Scores</a> -->
                            <a href="{% url 'bandwagon-teams' %}" class="nav-item nav-link">Teams</a>
                        </div>
                        <!-- Navbar Right Side -->

                        <div class="navbar-nav">
                        {% if user.is_authenticated%}
                            {% if user.is_staff%}
                                <a href="{% url 'post-create' %}" class="nav-item nav-link">New Post</a>
                                <a href="{% url 'profile' %}" class="nav-item nav-link">Profile</a>
                                <a href="{% url 'logout' %}" class="nav-item nav-link">Logout</a>
                            {% else %}
                                <a href="{% url 'profile' %}" class="nav-item nav-link">Profile</a>
                                <a href="{% url 'logout' %}" class="nav-item nav-link">Logout</a>
                            {% endif %}
                        {% else %}                             
                            <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
                            <a class="nav-item nav-link" href="{% url 'user-registration' %}">Register</a>
                        {% endif %}
                        </div>
                    </div>
                </div>
            </nav>
        </header>


        <main role="main" class="container">
            <div class="row">
                <div class="col-md-8">
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-{{message.tags}}">{{message}}</div>
                    {% endfor %}
                {% endif %}
                {% block content %}{% endblock %}
                </div>
                    <div class="col-md-4">
                        <div class="sidebar-section">
                            <h3 class="section-divider">League Leaders</h3>
                            <p class='text-muted'>
                                <ul class="list-group">
                                    <li class="list-group-item list-group-item-light side-bar">Points: James Harden (31.6)</li>
                                    <li class="list-group-item list-group-item-light side-bar">Assists: Russell Westbrook (10.6)</li>
                                    <li class="list-group-item list-group-item-light side-bar">Rebounds: Nikola Jokic (13.0)</li>
                                    <li class="list-group-item list-group-item-light side-bar">Steals: Thaddeus Young (2.75)</li>
                                    <li class="list-group-item list-group-item-light side-bar">Blocks: Rudy Gobert (2.6)</li>
                                </ul>
                            </p>
                        </div>
                    </div>
            </div>
        </main>

        <footer>
            <div class="col-md-12" id="footer" style="padding-top: 3em;text-align: center;">
                <p>Copyright 2020 - Bandwagon Media LLC</p>
            </div>
        </footer>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        {% block extrajs %}{% endblock %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>