{% extends 'bandwagon/base_no_side.html' %}
{% load static %}

{% block extracss %}
    <link rel="stylesheet" href="{% static 'bandwagon/playfinder.css' %}">
{% endblock extracss %}

{% block content %}
    <!-- Play Finder -->
    <div class="section-container">

        <h1>Playfinder</h1>
        
        <!-- What, By Whom, When -->
        <div class="pf-query pb-5 pt-3">
            <h3 class="article-title-main">
                Show me every 
                <!-- What -->
                    <select name="play_type" id="play_type">
                        <option value="" disabled selected>play</option>
                        <option value="">Assist</option>
                        <option value="">Dunk</option>
                        <option value="">Three-Pointer</option>
                    </select> 
                    <!-- Button adding multiple params -->
                    <!-- <button>+</button> -->
                by 
                <!-- By Whom -->
                    <select name="player_id" id="player_id">
                        <option value="" disabled selected>player</option>
                        <option value="">Stephen Curry</option>
                        <option value="">Kyrie Irving</option>
                        <option value="">Lebron James</option>
                        <option value="">Giannis Antetokounmpo</option>
                    </select>
                    <!-- Button adding multiple params -->
                    <!-- <button>+</button> -->
                <br>
                in a/an 
                <!-- When -->
                    <select name="time_type" id="time_type">
                        <option value="" disabled selected>range</option>
                        <option value="game">Game</option>
                        <option value="post-season">Post-Season</option>
                        <option value="season">Season</option>
                    </select>
                .
            </h3>

            <!-- Specific Occasion Follow-Up -->
            <div class="pf-specific">
                <h3 class="article-title-main" id='specific-question'>
                </h3>
                <h3> 
                    <select name="specific" id="specific">
                        <option value="" disabled selected>Choose...</option>
                        <option value="15-16">2015-2016</option>
                        <option value="16-17">2016-2017</option>
                    </select>
                    <!-- Button adding multiple params -->
                    <!-- <button>+</button> -->
                </h3>
            </div>
        
            <input type="submit" class="pf-submit">  
            
            <!-- Results -->
            <div class="pf-data">
                <h3>Here is your data</h3>

                <br>

                <!-- Game -->
                <div class="pf-data-item">

                    <!-- Game Header / Toggle Switch -->
                    <button class="pf-collapsible"><h4 class="pf-data-header">+ Game 1</h4></button>

                    <!-- Quarter -->
                    <div class="pf-data-item-inner">

                        <!-- Quarter Header / Toggle Switch -->
                        <button class="pf-collapsible"><h5>- First Quarter</h5></button>

                        <!-- Timestamps -->
                        <p class="pf-data-text">11:15</p>
                        <p class="pf-data-text">09:18</p>
                        <p class="pf-data-text">07:42</p>
                        <p class="pf-data-text">03:51</p>
                        <p class="pf-data-text">01:12</p> 
                    </div>

                    <!-- Quarter -->
                    <div class="pf-data-item-inner">

                        <!-- Quarter Header / Toggle Switch -->
                        <button class="pf-collapsible"><h5>- Second Quarter</h5></button>

                        <!-- Timestamps -->
                        <p class="pf-data-text">11:15</p>
                        <p class="pf-data-text">09:18</p>
                        <p class="pf-data-text">07:42</p>
                        <p class="pf-data-text">03:51</p>
                        <p class="pf-data-text">01:12</p> 
                    </div>
                </div>

                <!-- Game -->
                <div class="pf-data-item">

                    <!-- Game Header / Toggle Switch -->
                    <button class="pf-collapsible"><h4 class="pf-data-header">+ Game 2</h4></button>

                    <div class="pf-data-item-inner">

                        <!-- Quarter Header / Toggle Switch -->
                        <button class="pf-collapsible"><h5>- First Quarter</h5></button>

                        <!-- Timestamps -->
                        <p class="pf-data-text">11:15</p>
                        <p class="pf-data-text">09:18</p>
                        <p class="pf-data-text">07:42</p>
                        <p class="pf-data-text">03:51</p>
                        <p class="pf-data-text">01:12</p> 
                    </div>
                </div>
            </div>     
        </div>
    </div>



{% endblock content %}

{% block extrajs %}

        <!-- Makes Specifier visible on change to situation option -->
        <script>
            $('#time_type').change(function() {
                $('#specific-question').text('Which ' + $('#time_type').val() + '?');
                $('.pf-specific').fadeIn(600);
            });            
        </script>

        <!-- Adjusts accordion headings to +/- when expanded/collapsed -->
        <script>
            $('.pf-collapsible').click(function() {
                if ($(this).next().css('display') == 'none') {

                    // on expansion
                    $(this).children(':first').text($(this).children(':first').text().replace('+','-'));

                } else {

                    // on collapse
                    $(this).children(':first').text($(this).children(':first').text().replace('-','+'));
                };
            })
        </script> 
        
        <!-- Expands items in accordion on click -->
        <script>
            $('.pf-collapsible').click(function() {

                // Quarters
                $(this).siblings().fadeToggle(250);

                // Timestamps
                $(this).siblings().children().show(300);
            })
        </script>

        <!-- Expands data section on form submission -->
        <script>
            $('.pf-submit').click(function() {
                $('.pf-data').css('display', 'flex').fadeIn(250);
            })
        </script>
{% endblock extrajs%}