{% extends 'bandwagon/base_no_side.html' %}
{% load static %}

{% block extracss %}
    <link rel="stylesheet" href="{% static 'bandwagon/podcast.css' %}">
{% endblock %}

{% block content %}


 
    <div class="section-container">
        <img src="../../../media/icons/bandwagon-logo.png" alt="The Logo for The Bandwagon: An NBA Podcast, available for streaming on your favorite service below" class="stream-logo"> 
        <h3>Listen to our Podcast on your favorite streaming service below:</h3>
        <div class="stream-list">
            <article class="media stream-list-item">
                <div class="stream-list-img-container">
                    <img src="../../../media/icons/apple-logo.jpg" alt="profile photo" class="stream-list-img">
                </div>
                <div class="media-body">
                    <h2 class="article-title-main">
                        <a class="article-title-main" href="{{ itunes }}">iTunes</a>
                    </h2>
                    <!-- <p class="article-content preview-text">{{ post.content | truncatechars:175 }}</p> -->
                </div>
            </article>

            <article class="media stream-list-item">
                <div class="stream-list-img-container">
                    <img src="../../../media/icons/spotify-logo.png" alt="profile photo" class="stream-list-img">
                </div>
                <div class="media-body">
                    <h2 class="article-title-main">
                        <a class="article-title-main" href="{{ spotify }}">Spotify</a>
                    </h2>
                </div>
            </article>

            <article class="media stream-list-item">
                <div class="stream-list-img-container">
                    <img src="../../../media/icons/google-podcast-logo.png" alt="profile photo" class="stream-list-img">
                </div>
                <div class="media-body">
                    <h2 class="article-title-main">
                        <a class="article-title-main" href="{{ google_music }}">Google Music</a>
                    </h2>
                </div>
            </article>

            <article class="media stream-list-item">
                <div class="stream-list-img-container">
                    <img src="../../../media/icons/tune-in-logo.jpg" alt="profile photo" class="stream-list-img">
                </div>
                <div class="media-body">
                    <h2 class="article-title-main">
                        <a class="article-title-main" href="{{ tune_in }}">TuneIn</a>
                    </h2>
                </div>
            </article>

            <article class="media stream-list-item">
                <div class="stream-list-img-container">
                    <img src="../../../media/icons/stitcher-logo.png" alt="profile photo" class="stream-list-img">
                </div>
                <div class="media-body">
                    <h2 class="article-title-main">
                        <a class="article-title-main" href="{{ stitcher }}">Stitcher</a>
                    </h2>
                </div>
            </article>

            <article class="media stream-list-item">
                <div class="stream-list-img-container">
                    <img src="../../../media/icons/soundcloud-logo.png" alt="profile photo" class="stream-list-img">
                </div>
                <div class="media-body">
                    <h2 class="article-title-main">
                        <a class="article-title-main" href="{{ soundcloud }}">Soundcloud</a>
                    </h2>
                </div>
            </article>            
        </div>

    </div>


{% endblock content %}
