{% extends 'bandwagon/base.html' %}  
{% load static %}

{% block extracss %}
    <link rel="stylesheet" href="{% static 'bandwagon/post-detail.css' %}">
{% endblock %}

{% block content %}
    <article class="media content-section">
        <div class="media-body">
            <img src="{{ post.image.url }}" class="post-img">
            <h2 class='article-title-main'>{{ object.title }}</h2>
            <div class="article-metadata">
                <!-- <img src="{{ post.author.profile.image.url }}" alt="profile photo" class="rounded-circle article-img"> -->
                <a class="mr-2" href="{% url 'user-posts' object.author.username %}">{{ object.author.first_name }} {{ object.author.last_name }}</a>
                <small class="text-muted">{{ object.date_posted | date:'F d, Y'}}</small>
                {% if object.author == user %}
                <div>
                    <a href="{% url 'post-update' object.id %}" class="btn btn-outline-secondary btn-sm mt-1 mb-1">Edit</a>
                    <a href="{% url 'post-delete' object.id %}" class="btn btn-outline-danger btn-sm mt-1 mb-1">Delete</a>
                </div>
                {% endif %}
            </div>
            <p class="article-content">{{ object.content | safe }}</p>
        </div>
    </article>
{% endblock content %}